$red: #e63946;
$darkblue: #1d3557;
$mediumblue: #457b9d;
$lightblue: #a8dadc;
$white: #f1faee;
$overlay-color: rgba(29, 53, 87, 0.9);
$smallfont: 'Roboto', sans-serif;
$bigfont: 'Anton', sans-serif;

$gallery-square-height: 250px;
$gallery-square-width: 400px;
$gallery-caption-height: 48px;

$breakpoint-phone: 500px;
$breakpoint-tablet: 769px;

html {
  scroll-behavior: smooth;
}

.body {
  background-color: $darkblue;
  color:$white;
  font-family: $smallfont;
  position: relative;
}

p {
  font-weight: 300;
}

a:not(.nav-link .btn) {
  color: $red;
  box-shadow: inset 0 -10px 0 0 #c7edef;
  font-weight: 500;
  padding: 0px 2px;
}

a:hover:not(.nav-link .btn) {
  color: $darkblue;
  box-shadow: inset 0 -10px 0 0 $lightblue;
  text-decoration: none;
}

h5 {
  font-weight: 400;
}

.flex-horizontal {
  display: flex;
  flex-direction: row;
}

@mixin header-shadow($color) {
  text-shadow: 3px 6px $color;
  // padding: 0px 5px;
  // box-shadow: inset 0px -30px $color;
}

/*******************
  SECTIONS
********************/

section {
  max-height: fit-content;
  height: auto;
  padding-top: 75px;
  text-align: center;
}

#home {
  height: 100vh;
  padding-top: 150px;
  position: relative;
  background-color: $darkblue;
}

.bg-image {
  background-image: url('../images/shapes.png');
  position: relative;
  display: block;
  background-size: 30%;
  @media (max-width: $breakpoint-phone) {
    background-size: 75%;
  }
}

.bg-image::before {
  content: "";
  background-color: inherit;
  mix-blend-mode: hard-light;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  position: absolute;
}

.section-content {
  display: flex;
  flex-direction: column;
  position: relative;
  padding-bottom: 30px;
}

#about {
  background-color: $white;
  color: $darkblue;
  h1 {
    @include header-shadow($lightblue)
  }
}

#portfolio {
  background-color: $mediumblue;
  color: $white;
  h1 {
    @include header-shadow($darkblue)
  }
}

#boba {
  background-color: $white;
  background-image: url('../images/boba-bg.png');
  background-position: center;
  background-size: cover;
  color: $darkblue;
  height: 100vh;
  h1 {
    @include header-shadow($lightblue)
  }
}

#sign-search {
  // background-color: $white;
  padding-bottom: 30px;
  h1 {
    @include header-shadow(#b69ed6)
  }
  button {
    background-color: #753cbf;
  }
}

#boba-demos {
  background-color: #cfd5d9;
  color: $darkblue;
  padding-bottom: 1px;
}

#experience {
  background-color: $darkblue;
  color: $white;
  h1 {
    @include header-shadow($mediumblue)
  }
}

/*******************
  NAV BAR
********************/

nav {
  background-color: $red;
}

.isCurrent a {
  color: $white!important;
}

/*******************
  IMAGE HOVER OVERLAYS
********************/

.hover-wrap {
  position: relative;
}

.hover-wrap .overlay {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: 0;
  background: $overlay-color;
  color: #fff;
  visibility: hidden;
  opacity: 0;
  transition: opacity .2s, visibility .2s;
}

.hover-wrap:hover .overlay {
  visibility: visible;
  opacity: 1;
}

.hover-wrap .overlay p {
  width: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 16px;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

/*******************
  PROFILE PIC HOVER OVERLAY
********************/

/// Resize profile picture based on viewport size, with max/min bounds
///
/// @author adapted from Eduardo Boucas (@eduardoboucas)
///
/// @param {Number}   $responsive  - Viewport-based size
/// @param {Number}   $min         - Minimum image size (px)
/// @param {Number}   $max         - Maximum image size (px)
///                                  (optional)
/// @param {Number}   $fallback    - Fallback for viewport-
///                                  based units (optional)
///
@mixin responsive-profile-pic($responsive, $min, $max: false, $fallback: false) {
  @media (min-width: $breakpoint-phone) and (max-width: $breakpoint-tablet) {
    height: 400px;
    width: 400px;
    border-radius: 400px;
  }

  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;
  
  @media (max-#{$dimension}: #{$min-breakpoint}) {
    height: $min;
    width: $min;
    border-radius: $min;
  }
  
  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;
    
    @media (min-#{$dimension}: #{$max-breakpoint}) {
      height: $max;
      width: $max;
      border-radius: $max;
    }
  }
  
  @if $fallback {
    height: $fallback;
    width: $fallback;
    border-radius: $fallback;
  }
  
  height: $responsive;
  width: $responsive;
  border-radius: $responsive;
}

@mixin profile-pic-border() {
  border: 2px solid $darkblue;
}

#profile-pic {
  @include profile-pic-border();
  @include responsive-profile-pic(35vw, 250px, 350px, 200px);
}

#hover-wrap-profile-pic.hover-wrap {
  @include responsive-profile-pic(35vw, 250px, 350px, 200px);
  margin: auto;
}

#overlay-profile-pic.overlay {
  @include profile-pic-border();
  @include responsive-profile-pic(35vw, 250px, 350px, 200px);
}

/*******************
  RESPONSIVE HEADERS
********************/

/// Resize section header text size based on viewport size, with max/min bounds
///
/// @author adapted from Eduardo Boucas (@eduardoboucas)
///
/// @param {Number}   $responsive  - Viewport-based size
/// @param {Number}   $min         - Minimum font size (px)
/// @param {Number}   $max         - Maximum font size (px)
///                                  (optional)
/// @param {Number}   $fallback    - Fallback for viewport-
///                                  based units (optional)
///
@mixin responsive-big-text($responsive, $min, $max: false, $fallback: false) {
  $responsive-unitless: $responsive / ($responsive - $responsive + 1);
  $dimension: if(unit($responsive) == 'vh', 'height', 'width');
  $min-breakpoint: $min / $responsive-unitless * 100;
  
  @media (max-#{$dimension}: #{$min-breakpoint}) {
    font-size: $min;
  }
  
  @if $max {
    $max-breakpoint: $max / $responsive-unitless * 100;
    
    @media (min-#{$dimension}: #{$max-breakpoint}) {
      font-size: $max;
    }
  }
  
  @if $fallback {
    font-size: $fallback;
  }
  
  font-size: $responsive;
}

h1 {
  font-family: $bigfont;
  position: relative;
  @include header-shadow($red);
  margin: 0px auto 20px auto;
  width: fit-content;
  @include responsive-big-text(7vw, 50px, 90px, 60px);
}

/*******************
  404 PAGE
********************/

#section-404 {
  background-color: $mediumblue;
  color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
}

#section-404 img {
  @include responsive-profile-pic(35vw, 230px, 350px, 200px);
  padding-top: 20px;
  position: relative;
  width: auto!important;
}

/*******************
  ABOUT SECTION
********************/

#about-layout {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  height: 100%;

  .about-section {
    width: 50%;
  }
}

.about-section {
  padding: 10px 40px;
  text-align: left;

  h4 {
    color: $darkblue;
    background-color: $lightblue;
    box-shadow: 6px 5px $red;
    width: fit-content;
    padding: 2px 20px 2px 5px;
    margin-bottom: 20px;
    margin-left: -5px;
  }
}

@media (max-width: $breakpoint-phone) {
  #about-layout {
    display: flex;
    flex-direction: column;

    .about-section {
      width: 100%;
    }
  }
}

#about-blurb {
  padding-bottom: 40px;

  p {
    margin-bottom: 0px;
  }
  span {
    font-weight: 700;
  }
}

.about-number-item {
  display: flex;
  flex-direction: row;
}

.about-number {
  color: $red;
  font-weight: 900;
  padding-right: 5px;
  text-align: right;
  width: 30px;
}

#scratch-note {
  font-size: 12px;
}

/*******************
  PROGRESS BARS
********************/

#lang-bars-placeholder {
  padding-bottom: 10px;
  padding-right: 10px;
}

@media (max-width: $breakpoint-phone) {
  #lang-bars-placeholder {
    width: 100%;
  }
}

.progress {
  background-color: $lightblue;
  margin-top: 1rem;
}

.progress-bar {
  background-color: $red;
  color: $white;
  text-align: left;
  padding-left: 5px;
}

.progress-label {
  float: left;
  line-height: 15px;
  margin-right: 1em;
  text-align: right;
  width: 70px;
}

/*******************
  GALLERY
********************/

.gallery-flex-container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 20px;
  position: relative;
}

.gallery-item {
  height: $gallery-square-height;
  width: $gallery-square-width;
  background-color: $lightblue;
  color: $darkblue;
  border-radius: 5px;
  margin: 5px;

  a {
    color: $darkblue;
    padding: 0px;
  }
  a:hover {
    text-decoration: underline;
  }
}

.gallery-item .overlay {
  border-radius: 5px 5px 0px 0px;
  height: $gallery-square-height - $gallery-caption-height;
  margin: 5px;
}

.gallery-item .overlay p {
  font-size: 16px;
  width: 250px;
}

.gallery-image {
  border-radius: 5px 5px 0px 0px;
  background-size: 100%; 
  background-position: top center;
  height: ($gallery-square-height - $gallery-caption-height) / $gallery-square-height * 100%;
  width: 100%;
}

.gallery-text {
  padding: 10px;
}

@media (max-width: 450px) {
  $gallery-square-width: 300px;
  .gallery-item {
    width: $gallery-square-width;
  }
  .gallery-image {
    background-size: 130%!important;
  }
}

/*******************
  BOBA TABLEAU SECTION
********************/

#boba-description {
  background: rgba(255, 255, 255, 0.2);
  margin: auto;
  width: 700px;
  @media (max-width: $breakpoint-tablet) {
    width: 500px;
  }
  @media (max-width: $breakpoint-phone) {
    width: 300px;
  }
}

#boba-buttons {
  padding-top: 30px;
  width: fit-content;
  margin: auto;

  a {
    box-shadow: none;
  }

  button {
    background-color: $red;
    border: none;
    color: $white;
    font-family: $smallfont;
    margin: 0px 10px;
    width: 195px;
    height: 40px;
  }

  @media (max-width: $breakpoint-phone) {
    flex-direction: column;
  }
}

/*******************
  TIMELINE
********************/

@media (max-width: $breakpoint-tablet) {
  .vertical-timeline {
    padding-right: 10px;
  }
}

.vertical-timeline-element-content {
  background: $white;
  color: $darkblue;
  text-align: left;

  p {
    font-weight: 300;
  }
}

.vertical-timeline.vertical-timeline-custom-line::before {
  background: $white;
}

.vertical-timeline.vertical-timeline-custom-line .vertical-timeline-element-icon {
  box-shadow: 0 0 0 4px $white;
}

.vertical-timeline-element-content-arrow {
  border-right-color: $white;
}

@media only screen and (min-width: 1170px) {
  .vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
    color: $white;
  }
}

.vertical-timeline--two-columns .vertical-timeline-element-content .vertical-timeline-element-date {
  text-align: left;
}

.vertical-timeline-element-title {
  font-size: 26px;
}

.vertical-timeline-element-subtitle {
  font-size: 20px;
}



.custom-carousel {
  margin: 50px auto;
  width: 800px;
  img {
    width: 800px;
  }
}

.button-group {
  justify-content: center;
  a {
    box-shadow: none;
    margin: 10px 5px;
  }
  .btn {
    border: none;
    width: 150px;
  }
}

